.head{
    background-color: 	#1fab89;
    color: #d7fbe8;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}
mat-card{
    width: 95%;
    height: 100%;
}
.example-full-width{
    width: 100%;
}
mat-form-field{
    width: 95%;
}
mat-card-header{
    margin-bottom: 25px;
}
mat-card-title{
    color: #62d2a2;
}
.centralizar{
    align-items: baseline;
    display: flex;
    justify-content: center;
}
.margin-bottom{
    margin-bottom: 20px;
}
.button-ativo{
    background-color: #1fab89 !important;
    color: white !important;
}
.button-ativo:focus{
    outline: none;
}

