/* You can add global styles to this file, and also import other style files */

html, body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  ::-webkit-scrollbar {
    width: 5px;
    background-color: white;
}


  input {
    padding-left: 18px !important;
    width: calc(100% - 18px) !important;
  }
